﻿@model Project__cumulative1.Models.TEACHER
@{
    ViewBag.Title = "Show";
}

<a class="navlink" href="/Teacher/List">Back to Teachers</a>

<h2>Show Teacher, @Model.TeacherFname @Model.TeacherLname</h2>
<p>Employee Number: @Model.EmployeeNumber</p>
<p>Hire Date: @Model.HireDate</p>
<p>Salary: @Model.Salary</p>